.calendar {
  width: 50%;
  margin: auto;
  font-size: 10px;
}

.calendar tr, .calendar td {
  border: 1px solid black;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.calendar td {
  width: 100px;
  height: 50px;
  padding: 20px 0px 0px 5px;
}



.date {
  font-size: 16px;
}

ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
}

a {
  color: #17a2b8;
}