{% extends 'base.html' %}

{% block title %}{{ team.title }} | {% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{% url 'account' %}">My account</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'team:team' team.id %}">{{ team.title }}</a></li>
    </ol>
</nav>

<div class="row">
    <h1>{{ team.title }}</h1>

    <hr>

    <h2>Members</h2>

    {% for member in team.members.all %}
        <p>{{ member.username }}</p>
    {% endfor %}

    {% if team.created_by == request.user %}
    <hr>
    <h3>Owner actions</h3>
    <a href="{% url 'team:edit' %}">Edit team</a>
    {% endif %}
</div>

{% endblock %}