{% extends 'base.html' %}

{% block title %}{{ team.title }} | {% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{% url 'account' %}">My account</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'team:team' team.id %}">{{ team.title }}</a></li>
    </ol>
</nav>

<div class="row">
    <h1>{{ team.title }}</h1>

        {% if request.user == team.created_by %}
            <button class="button is-primary"><a href="{% url 'team:invite' %}" >Invite users</a></button>
        {% endif %}
    <hr>

    <h2>Members</h2>

    {% for member in team.members.all %}
        <p>{{ member.username }}</p>
    {% endfor %}

    <h2 class="subtitle mt-6">Invitated members</h2>

            {% for member in invitations %}
                <p>{{ member.email }} - {{ member.date_sent|timesince }} ago</p>
            {% endfor %}

    {% if team.created_by == request.user %}
    <hr>
    <h3>Owner actions</h3>
    <div class="buttons">
        <a href="{% url 'team:edit' %}" class="btn btn-primary">Edit team</a>
    </div>

    <div class="buttons">
        <a href="{% url 'project:projects' %}" class="btn btn-primary">Projects</a>
    </div>
    {% endif %}
</div>

{% endblock %}