{% extends 'base.html' %}

{% block title %} My account | {% endblock %}

{% block content %}

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="{% url 'account' %}" aria-current="page">My account</a></li>
            </ol>
        </nav>

<div class="row">
    <h1>My Account</h1>
    <div class="col-md-8">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" class="img-fluid rounded float-start" width="20%" alt="...">
    </div>
    <div class="col-6 col-md-4">

    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <p>{% firstof user.get_full_name user.username %}</p>
        <p>{{ user.email }}</p>
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" onclick="location.href='{% url 'edit_profile' %}'">Edit profile</button>
        <button type="button" class="btn btn-danger btn-lg px-4 me-md-2" onclick="location.href='{% url 'logout' %}?next={{request.path}}'">Logout</button>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-8">
        <h2>Teams</h2>

        <button type="button" class="btn btn-success btn-lg px-4 me-md-2" onclick="location.href='{% url 'team:add' %}'">Add team</button>
    </div>
</div>

    <h1>My Teams</h1>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        {% for team in teams.all %}

            <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h3 class="my-0 fw-normal">{{ team.title }}</h3>
              </div>

                <div class="card-body">
    <!--            <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1>-->
    <!--            <ul class="list-unstyled mt-3 mb-4">-->
    <!--              <li>10 users included</li>-->
    <!--              <li>2 GB of storage</li>-->
    <!--              <li>Email support</li>-->
    <!--              <li>Help center access</li>-->
    <!--            </ul>-->
                    <h4>{% if team.created_by == request.user %}(Owner){% else %}(Member){% endif %}</h4>
                <button type="button" class="btn btn-outline-primary">Details</button>
                <button type="button" class="btn btn-success">Activate</button>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
</div>

{% endblock %}