<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}TimeKeep</title>
            {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <link href="{% static 'css/test3.css' %}" rel="stylesheet">
  </head>
  <body>

{% include 'messages.html' %}

        <!-- Navbar -->
        <div id="navbar-app">
            <nav class="navbar{% if request.user.is_authenticated %} is-dark{% else %} is-light{% endif %}">
                <div class="navbar-brand">
                    <a href="/" class="navbar-item"><strong>TimeKeep</strong></a>
                </div>

                <div class="navbar-menu">
                    <div class="navbar-end">
                    {% if active_team %}

                        {% if not request.user.is_authenticated %}
                            <a href="{% url 'shop' %}" class="navbar-item">Shop</a>
                        {% else %}
                            <div class="navbar-item" v-if="!trackingTime">
                                <div class="buttons">
                                    <a class="button is-success" @click="startTimer()">
                                        <span class="icon"><i class="fas fa-stopwatch"></i></span>
                                        <span>Start</span>
                                    </a>
                                </div>
                            </div>

                            <div class="navbar-item" v-else>
                                <div class="buttons">
                                    <a class="button is-warning" @click="stopTimer()">
                                        <span class="icon"><i class="fas fa-stopwatch"></i></span>
                                        <span>[[ readableSeconds ]] (stop)</span>
                                    </a>
                                </div>
                            </div>
                        <div class="navbar-item">
                                <div class="buttons">
                                    <a href="{% url 'project:projects' %}" class="button is-success">Projects</a>
                                </div>
                            </div>

                        {% endif %}
                    {% endif %}
                        <div class="navbar-item">
                            <div class="buttons">

                                {% if request.user.is_authenticated %}
                                    <a href="{% url 'account' %}" class="button is-success">
                                        <span class="icon"><i class="fas fa-user"></i></span>
                                        <span>
                                          {% firstof request.user.get_full_name request.user.username %}{% if active_team %} ({{ active_team.title }}){% endif %}
                                        </span>
                                    </a>
                                    <a href="{% url 'logout' %}?next={{ request.path }}" class="button is-danger">Logout</a>
                                {% else %}
                                    <a href="{% url 'signup' %}" class="button is-success"><strong>Sign up</strong></a>
                                    <a href="{% url 'login' %}" class="button">Log in</a>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
            </nav>

            <div class="modal" :class="{'is-active': showTrackingModal}">
                <div class="modal-background"></div>

                <div class="modal-card">
                    <div class="modal-card-head">
                        <p class="modal-card-title">Tracked time</p>
                    </div>

                    <div class="modal-card-body">
                        <p>You have tracked [[ readableSeconds ]]</p>
                    </div>

                    <footer class="modal-card-foot">
                        <a class="btn btn-primary" @click="addToProject()" role="button">Add Time</a>
                        <a class="btn btn-danger" @click="discardTimer()" role="button">Discard</a>
                    </footer>
                </div>
            </div>
        </div>
        <!-- End Navbar -->

     {% block content %}
     {% endblock %}
            <script src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
            <script src="https://unpkg.com/vue@next"></script>
            <script>
                var NavbarApp = {
                    data() {
                        return {
                            seconds: {{ active_entry_seconds }},
                            trackingTime: false,
                            showTrackingModal: false,
                            timer: null,
                            entryID: 0,
                            startTime: '{{ start_time }}'
                        }
                    },
                    delimiters: ['[[', ']]'],
                    methods: {
                        startTimer() {
                            fetch('/timetracking/timer/start_timer/', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                    'X-CSRFToken': '{{ csrf_token }}'
                                }
                            })
                            .then((response) => {
                                return response.json()
                            })
                            .then((result) => {
                                this.startTime = new Date()
                                this.trackingTime = true

                                this.timer = setInterval(() => {
                                    this.seconds = (new Date() - this.startTime) / 1000
                                }, 1000)
                            })
                        },
                        stopTimer() {
                            fetch('/timetracking/timer/stop_timer/', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                    'X-CSRFToken': '{{ csrf_token }}'
                                }
                            })
                            .then((response) => {
                                return response.json()
                            })
                            .then((result) => {
                                this.entryID = result.entryID
                                this.showTrackingModal = true
                                this.trackingTime = false

                                window.clearTimeout(this.timer)
                            })
                        },
                        discardTimer() {
                            fetch('/timetracking/timer/discard_timer/', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                    'X-CSRFToken': '{{ csrf_token }}'
                                }
                            })
                            .then((response) => {
                                this.seconds = 0
                                this.showTrackingModal = false
                            })
                        },
                        addToProject() {
                            console.log('addToProject')
                            window.location.href = '/projects/add_entry/' + this.entryID + '/'
                        }
                    },
                    mounted() {
                        if (this.seconds !== 0) {
                            this.trackingTime = true
                            this.timer = setInterval(() => {
                                this.seconds = (new Date() - new Date(this.startTime)) / 1000
                            }, 1000)
                        }
                    },
                    computed: {
                        readableSeconds() {
                            const d = Number(this.seconds);
                            const h = Math.floor(d / 3600);
                            const m = Math.floor(d % 3600 / 60);
                            const s = Math.floor(d % 3600 % 60);

                            const hDisplay = h > 0 ? h + (h == 1 ? "h, " : "h, ") : "";
                            const mDisplay = m > 0 ? m + (m == 1 ? "m, " : "m, ") : "";
                            const sDisplay = s >= 0 ? s + (s == 1 ? "s" : "s") : "";

                            return hDisplay + mDisplay + sDisplay;
                        }
                    }
                }

                Vue.createApp(NavbarApp).mount('#navbar-app')


            </script>
    <script>
        var message_ele = document.getElementById("msg");
        setTimeout(function(){
        message_ele.style.display = "none";
        }, 2000);
    </script>
        {% block scripts %}
        {% endblock %}
  </body>
</html>

