{% extends 'base.html' %}

{% load format_min %}

{% block title %} My account | {% endblock %}

{% block content %}

      <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 83%; height: 94vh">
<div class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
          <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#clock"/></svg>

          <span class="fs-5 fw-semibold "><a href="#">Breadcrumb 1</a> /&nbsp;</span>
          <span class="fs-5 fw-semibold "><a href="#">Breadcrumb 2</a> /&nbsp;</span>
          <span class="fs-5 fw-semibold "><a href="#" class="active">Breadcrumb 3</a></span>

        </div>

        <div class="columns">
            <div class="column is-4">
                <h1 class="title">Projects</h1>

            <button type="button" class="btn btn-success btn-lg px-4 me-md-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Add project</button>


            </div>
        </div>
<hr>

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    {% for project in projects %}
    <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h3 class="my-0 fw-normal">{{ project.title }}</h3>
              </div>

                <div class="card-body">
    <!--            <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1>-->
    <!--            <ul class="list-unstyled mt-3 mb-4">-->
    <!--              <li>10 users included</li>-->
    <!--              <li>2 GB of storage</li>-->
    <!--              <li>Email support</li>-->
    <!--              <li>Help center access</li>-->
    <!--            </ul>-->
                    <h4>Registered time: {{ project.registered_time|format_minutes }}</h4>

<a href="{% url 'project:project' project.id %}" class="button is-success">Details</a>
              </div>
            </div>
          </div>
    {% empty %}
        <div><p>No projects yet</p></div>
    {% endfor %}
</div>

    </div>
            </div>
          </div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tracked time</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST">
            {% csrf_token %}
            <input name='type' value='add_proj' style='display: none'>
            <div>
                <label>Title</label>
                <div>
                    <input type="text" name="title" id="id_title">
                </div>
            </div>



            <div>
                <div>
                    <button>Save changes</button>
                </div>
            </div>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}

