{% extends 'base.html' %}

{% block title %} My account | {% endblock %}

{% block content %}
      <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 83%; height: 94vh">
        <div class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
          <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#clock"/></svg>

          <span class="fs-5 fw-semibold "><a href="#">Breadcrumb 1</a> /&nbsp;</span>
          <span class="fs-5 fw-semibold "><a href="#">Breadcrumb 2</a> /&nbsp;</span>
          <span class="fs-5 fw-semibold "><a href="#" class="active">Breadcrumb 3</a></span>

        </div>

        <div class="list-group list-group-flush border-bottom scrollarea">

<br>
<div class="container" id="page-width">
<div class="row" id="user-profile">
        <div class="col-lg-3 col-md-4 col-sm-4">
            <div class="main-box clearfix">
                <h2>{% firstof user.get_full_name user.username %}</h2>
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" width="100%" alt="" class="profile-img img-responsive center-block">
                <table class="table table-borderless">
                    <tbody>

                        <tr>
                          <th scope="row">Username: </th>
                          <td> {{ user.username }}</td>
                        </tr>

                        <tr>
                          <th scope="row">Email: </th>
                          <td>{{ user.email }}</td>
                        </tr>

                        <tr>
                          <th scope="row">Plan: </th>
                          <td>(Placeholder)</td>
                        </tr>

                        <tr>
                          <th scope="row">Member since: </th>
                          <td>{{ user.date_joined|date }}</td>
                        </tr>

                    </tbody>
</table>



<!--                <div class="profile-details">-->
<!--                    <ul class="fa-ul">-->
<!--                        <li><i class="fa-li fa fa-truck"></i>Orders: <span>456</span></li>-->
<!--                        <li><i class="fa-li fa fa-comment"></i>Posts: <span>828</span></li>-->
<!--                        <li><i class="fa-li fa fa-tasks"></i>Tasks done: <span>1024</span></li>-->
<!--                    </ul>-->
<!--                </div>-->
<br>
                <div class="profile-message-btn center-block text-center">
                    <button type="button" class="btn btn-primary px-4 me-md-2" onclick="location.href='{% url 'edit_profile' %}'">Edit profile</button>
                    <button type="button" class="btn btn-danger px-4 me-md-2" onclick="location.href='{% url 'logout' %}?next={{request.path}}'">Logout</button>
                </div>
            </div>
        </div>

        <div class="col-lg-9 col-md-8 col-sm-8">
            <div class="main-box clearfix">
                 <div class="profile-header">
                    <h3><span>My Teams</span></h3>

                        <button type="button" class="btn btn-success px-4 me-md-2 edit-profile" data-bs-toggle="modal" data-bs-target="#addTeamModal">Add team</button>


                </div>

<hr>

                <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        {% if active_team %}
            <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h3 class="my-0 fw-normal">{{ active_team.title }}</h3>
              </div>

                <div class="card-body">
    <!--            <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1>-->
    <!--            <ul class="list-unstyled mt-3 mb-4">-->
    <!--              <li>10 users included</li>-->
    <!--              <li>2 GB of storage</li>-->
    <!--              <li>Email support</li>-->
    <!--              <li>Help center access</li>-->
    <!--            </ul>-->
                    <h4>{% if active_team.created_by == request.user %}(Owner){% else %}(Member){% endif %}</h4>
                <button type="button" class="btn btn-outline-primary btn-sm" onclick="location.href='{% url 'team:team' active_team.id %}'">Details</button>
                    {% if active_team.created_by == request.user %}
                        <button type="button" class="btn btn-success btn-sm" onclick="location.href='{% url 'team:invite' %}'">Invite users</button>
                    {% endif %}
              </div>
            </div>
          </div>
                    {% else %}
                                        <p>Add team to start tracking time.</p>
        {% endif %}
        {% for team in teams.all %}

            <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h3 class="my-0 fw-normal">{{ team.title }}</h3>
              </div>

                <div class="card-body">
    <!--            <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1>-->
    <!--            <ul class="list-unstyled mt-3 mb-4">-->
    <!--              <li>10 users included</li>-->
    <!--              <li>2 GB of storage</li>-->
    <!--              <li>Email support</li>-->
    <!--              <li>Help center access</li>-->
    <!--            </ul>-->
                    <h4>{% if team.created_by == request.user %}(Owner){% else %}(Member){% endif %}</h4>

                <button type="button" class="btn btn-outline-primary btn-sm" onclick="location.href='{% url 'team:team' team.id %}'">Details</button>
                <button type="button" class="btn btn-success btn-sm" onclick="location.href='{% url 'team:activate_team' team.id %}'">Activate</button>
              </div>
            </div>
          </div>

        {% endfor %}
    </div>



            </div>
        </div>
    </div>
</div>
            </div>
          </div>
{% endblock %}