{% extends 'base.html' %}

{% block title %} My account | {% endblock %}

{% block content %}

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="{% url 'account' %}" aria-current="page">My account</a></li>
            </ol>
        </nav>

<!--<div class="container bootstrap snippets bootdeys">-->
<div class="row" id="user-profile">
        <div class="col-lg-3 col-md-4 col-sm-4">
            <div class="main-box clearfix">
                <h2>{% firstof user.get_full_name user.username %}</h2>
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" width="100%" alt="" class="profile-img img-responsive center-block">

                <div class="profile-label">
                    <span class="label label-danger"><b>Username:</b> {{ user.username }}</span>
                </div>

                <div class="profile-label">
                    <span class="label label-danger"><b>Email</b> {{ user.email }}</span>
                </div>

                <div class="profile-label">
                    <span class="label label-danger"><b>Plan:</b> (Placeholder)</span>
                </div>


                <div class="profile-since">
                    <b>Member since:</b> {{ user.date_joined|date }}
                </div>

<!--                <div class="profile-details">-->
<!--                    <ul class="fa-ul">-->
<!--                        <li><i class="fa-li fa fa-truck"></i>Orders: <span>456</span></li>-->
<!--                        <li><i class="fa-li fa fa-comment"></i>Posts: <span>828</span></li>-->
<!--                        <li><i class="fa-li fa fa-tasks"></i>Tasks done: <span>1024</span></li>-->
<!--                    </ul>-->
<!--                </div>-->
<br>
                <div class="profile-message-btn center-block text-center">
                    <button type="button" class="btn btn-primary px-4 me-md-2" onclick="location.href='{% url 'edit_profile' %}'">Edit profile</button>
                    <button type="button" class="btn btn-danger px-4 me-md-2" onclick="location.href='{% url 'logout' %}?next={{request.path}}'">Logout</button>
                </div>
            </div>
        </div>

        <div class="col-lg-9 col-md-8 col-sm-8">
            <div class="main-box clearfix">
                 <div class="profile-header">
                    <h3><span>My Teams</span></h3>

                        <button type="button" class="btn btn-success px-4 me-md-2 edit-profile" onclick="location.href='{% url 'team:add' %}'">Add team</button>


                </div>

<hr>

                <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        {% if active_team %}
            <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h3 class="my-0 fw-normal">{{ active_team.title }}</h3>
              </div>

                <div class="card-body">
    <!--            <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1>-->
    <!--            <ul class="list-unstyled mt-3 mb-4">-->
    <!--              <li>10 users included</li>-->
    <!--              <li>2 GB of storage</li>-->
    <!--              <li>Email support</li>-->
    <!--              <li>Help center access</li>-->
    <!--            </ul>-->
                    <h4>{% if active_team.created_by == request.user %}(Owner){% else %}(Member){% endif %}</h4>
                <button type="button" class="btn btn-outline-primary" onclick="location.href='{% url 'team:team' active_team.id %}'">Details</button>
                    {% if active_team.created_by == request.user %}
                        <button type="button" class="btn btn-success">Invite users</button>
                    {% endif %}
              </div>
            </div>
          </div>
        {% endif %}
        {% for team in teams.all %}

            <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h3 class="my-0 fw-normal">{{ team.title }}</h3>
              </div>

                <div class="card-body">
    <!--            <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1>-->
    <!--            <ul class="list-unstyled mt-3 mb-4">-->
    <!--              <li>10 users included</li>-->
    <!--              <li>2 GB of storage</li>-->
    <!--              <li>Email support</li>-->
    <!--              <li>Help center access</li>-->
    <!--            </ul>-->
                    <h4>{% if team.created_by == request.user %}(Owner){% else %}(Member){% endif %}</h4>

                <button type="button" class="btn btn-outline-primary" onclick="location.href='{% url 'team:team' team.id %}'">Details</button>
                <button type="button" class="btn btn-success" onclick="location.href='{% url 'team:activate_team' team.id %}'">Activate</button>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>



            </div>
        </div>
    </div>
<!--</div>-->
{% endblock %}