{% extends 'base.html' %}

{% block title %} Edit profile | {% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{% url 'account' %}">My account</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit profile</li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-8">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" class="img-fluid rounded float-start" width="20%" alt="...">
    </div>
    <div class="col-6 col-md-4">

    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <form method="POST">
            {% csrf_token %}


            <!---<div>
                <label>First name</label>
                <div>
                    <input type="text" name="first_name" id="first_name" class="input"{% if request.user.first_name %} value="{{ request.user.first_name }}"{% endif %}>
                </div>
            </div>

            <div>
                <label>Last name</label>
                <div>
                    <input type="text" name="last_name" id="last_name" class="input"{% if request.user.last_name %} value="{{ request.user.last_name }}"{% endif %}>
                </div>
            </div>

            <div>
                <label>Email</label>
                <div>
                    <input type="text" name="email" id="email" class="input"{% if request.user.email %} value="{{ request.user.email }}"{% endif %}>
                </div>
            </div>

            <div>

                <div>
                    <button>Save changes</button>
                </div>
            </div> --->
            {{form.as_p}}
            <button class="btn btn-success btn-lg px-4 me-md-2">Save changes</button>
        </form>
    </div>
</div>
{% endblock %}