{% extends 'base.html' %}

{% block title %} Edit profile | {% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{% url 'account' %}">My account</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit profile</li>
    </ol>
</nav>

<div class="row">
    <h1>Edit Profile</h1>
    <div class="col-md-8">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" class="img-fluid rounded float-start" width="20%" alt="...">
    </div>
    <div class="col-6 col-md-4">

    </div>
</div>

<div class="row">
    <div class="col-md-8">
<!--        <form method="POST" action="." enctype="multipart/form-data">-->
        <form method="POST">
            {% csrf_token %}

            {{form.as_p}}
            <button class="btn btn-success btn-lg px-4 me-md-2">Save changes</button>
            <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" onclick="location.href='{% url 'change_password' %}'">Change password</button>
        </form>
    </div>
</div>
{% endblock %}