{% extends 'base.html' %}

{% block title %}Sign up | {% endblock %}

{% block content %}

  {% load crispy_forms_tags %}

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
	<h1>Register</h1>
	<form method="POST">
		{% csrf_token %}
		{{ register_form|crispy}}
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
</div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Sign up</h1>
        <p class="lead">Create an account and start tracking time.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Sign up</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Learn more</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}